# Node modules
node_modules/
/backend/node_modules

# Environment variables
.env

# Frontend build output
/frontend/dist

.venv

__pycache__

projects

checklist.json
code_planner.json
directory_structure.json
project_structure.json
import-export.json
code_planner.json
checklist.json
app.log
.dependency_graph.png
project_structure.html
project_analysis.json
project_structure.png
project_requirements.json