# Node modules
node_modules/
/backend/node_modules

# Environment variables
.env

# Frontend build output
/frontend/dist

.venv

__pycache__

projects

checklist.json
code_planner.json
directory_structure.json
app.log
project_requirements.json