# Ignore Python virtual environments
.venv/
env/

# Ignore build directories
__pycache__/
*.pyc
dist/
build/

# Ignore Node.js modules
node_modules/

# Ignore environment files
.env
.env.local
.env.*

# Ignore editor-specific files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp
projects/
